<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">File for Leave</h4>
      </div>
      <div class="modal-body">
        
        <form>
        <div class= "container">
        <div class = "row">
        <div class = "col-md-3 col-xs-3">
             <select class="form-control">
                <option>Emergency Leave</option>
                <option>Sick Leave</option>
                <option>Vacation Leave</option>
              </select>
              </div>
              </div>
              <div class = "row">
            <div class = "col-md-3 col-xs-3">
              <div class="form-group">
                <label for="from_date">From: </label>
                <input type="date" class="form-control" id="from_date">
              </div>
            </div>
             <div class = "col-md-3 col-xs-3">
              <div class="form-group">
                <label for="to_date">To: </label>
                <input type="date" class="form-control" id="to_date">
              </div>
              </div>
            </div>
            <div class = "row">
            <div class = "col-md-6 col-xs-6">
            <div class="form-group">
              <label for="reason">Reason:</label>
              <textarea class="form-control" rows="5" id="reason"></textarea>
            </div>
            </div>
            </div>        
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
              </form>
      </div>
    </div>
  </div>
</div>