<div class="modal fade" id="offset" tabindex="-1" role="dialog" aria-labelledby="offsetLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="offsetLabel">File for Offset</h4>
      </div>
      <div class="modal-body">
        
        <form>
        <div class= "container">
        <div class = "row">
        <div class = "col-md-3 col-xs-3">
                   <div class="form-group">
                <label for="hours">Number of Hours: </label>
                <input type="number" class="form-control" id="hours">
              </div>
              </div>
        </div>
              <div class = "row">
            <div class = "col-md-3 col-xs-3">
              <div class="form-group">
                <label for="render_date">Render On: </label>
                <input type="date" class="form-control" id="render_date">
              </div>
            </div>
             <div class = "col-md-3 col-xs-3">
              <div class="form-group">
                <label for="render_date">For: </label>
                <input type="date" class="form-control" id="render_date">
              </div>
              </div>
            </div>
            <div class = "row">
            <div class = "col-md-6 col-xs-6">
            <div class="form-group">
              <label for="reason">Reason:</label>
              <textarea class="form-control" rows="5" id="reason"></textarea>
            </div>
            </div>
            </div>        
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
              </form>
      </div>
    </div>
  </div>
</div>